<div class="container text-center mt-3 bg-light">
  <h1>Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-product-infos">
        <h2><%= cocktail.name %></h2>
        <p><% link_to 'Show more', cocktail_path(cocktail) %></p>
      </div>
    </div>
  <% end %>
  <hr>
</div>
