<div class="container text-center mt-3 bg-light">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
  <p>
    <%= dose.description %>
  </p>
  <% end %>
  <% @cocktail.ingredients.each do |ingredient| %>
  <p>
    <%= ingredient.name %>
  </p>
  <% end %>
</div>
