<div class="container text-center">
  <%= simple_form_for [@cocktail, @dose] do |f| %>

    <div class="form-inputs">
      <%= f.association :ingredient, class: 'select2' %>
      <%= f.input :description %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
    </div>
    <% end %>
</div>
